{% extends 'index.html' %}
{% block content %}
<h2>Sales Receipt</h2>
<table>
    <tr><td>Customer:</td><td>{{ sale.customer }}</td></tr>
    <tr><td>Doctor:</td><td>{{ sale.doctor }}</td></tr>
    <tr><td>Product:</td><td>{{ sale.product }}</td></tr>
    <tr><td>Quantity:</td><td>{{ sale.quantity }}</td></tr>
    <tr><td>Discount:</td><td>{{ sale.discount }}</td></tr>
    <tr><td>Tax:</td><td>{{ sale.tax }}</td></tr>
    <tr><td>Returned:</td><td>{{ sale.is_returned }}</td></tr>
    <tr><td>Date:</td><td>{{ sale.date }}</td></tr>
</table>
<a href="{{ url_for('sale') }}">Back to Sale</a>
{% endblock %}
